# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
nativewind-env.d.ts

# Native (Android/iOS)
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
local.properties
*.apk
*.aab

# Google/Firebase (Recomendado ignorar si contienen keys sensibles)
# google-services.json
# GoogleService-Info.plist

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment variables & Secrets (CRÍTICO)
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local
secrets.json

# EAS (Expo Application Services)
.eas/
credentials.json

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
